<!DOCTYPE html>
<html>
  <head>
    <title>Leads</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-800">
    <div class="container mx-auto p-1">
      <a href="<%= root_path %>">
        <h1 class="font-bold text-4xl text-white">Crimson Permanent Assurance</h1>
      </a>
      <div class="container mx-auto my-5 p-6">
        <% if notice || alert %>
          <div class="container mx-auto my-5 p-1 md:w-2/3 w-full shadow-xl rounded bg-white">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
